<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <ul class="list-unstyled">
            <% @users.each do |user| %>
                <% if user.profile %>
                <li>
                    <div class="well row">
                        <div class="col-sm-4 text-center">
                            <% if user.profile.avatar %>
                                <%= image_tag user.profile.avatar.url(:thumb) %>
                            <% end %>
                <% end %>
                        </div>
                        <div>
                            User's first name and last name
                        </div>
                    </div>
                </li>
            <% end %>
        </ul>
    </div>
</div>