@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


.navbar {
    background: #000428; /* fallback for old browsers */
background: -webkit-gradient(linear, 0 0, 100% 0, from(#000428), to(#004e92));
background: -webkit-linear-gradient(to left, #000428, #004e92);
background: -moz-linear-gradient(to left, #000428, #004e92);
background: -o-linear-gradient(to left, #000428, #004e92);
background: linear-gradient(to left, #000428, #004e92); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
} 

.jumbotron {
   background: #8A8A8A; 
}