@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


body {
    background: #9FA6B2;
        
}

.navbar {
    // Netflix red from uigradients.com 
    background: #8E0E00; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #8E0E00 , #1F1C18); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #8E0E00 , #1F1C18); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    
    
    // Hershey's gradient color from uigradients.com 
    /*background: #1e130c; /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to left, #1e130c , #9a8478); /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to left, #1e130c , #9a8478); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

.alert-notice {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
